{% extends 'accounts/navbar.html' %}
{% block nav %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body" style="font-family:serif; font-style:italic; color:#253027">

			<p>Are you sure you want to delete "{{item}}"?</p>
			<form  action="" method="post">
				{% csrf_token %}
				<a class="btn btn-warning" style="font-family:serif; font-style:italic; color:#253027" href="{{request.META.HTTP_REFERER}}">Go back</a>

			  	<input class="btn btn-danger" type="submit"/>
			</form>
		</div>
	</div>
</div>


{% endblock nav %}