{% extends 'accounts/main.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F4EBDE;" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home" style="font-family:serif; font-style:italic; color:#253027">My Cafe</a>
        </div>
        <form class="container-fluid justify-content-end">
        <a class="btn btn-outline-dark me-2" href="/Login" role="button">Login</a>
        </form>
    </nav>
<Body background ="https://images.unsplash.com/photo-1595113316349-9fa4eb24f884?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600&q=80" >   

    <div>
        <h1 style="text-align:center; font-family:serif; font-style:italic; color:#253027; position:relative;top:100px;">Please login to proceed further..!!</h1>
    <div class="container" style="position:relative;top:30px; text-align:center;">
        <h3 style="font-family:serif; font-style:italic; color:#253027; position:relative;top:140px;">Get credential from your manager:</h3>     
    </div>

{% endblock %}